
.mainContent
{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    height: 700px;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;
}

body
{
	background-color: #ffffff;
}

legend
{
	background-color: #efefef;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;

}

label
{
	padding-right: 10px;
 	display: inline-block; 
 	width: 185px; 
 	text-align: right;
 	padding-bottom: 5px;
}

fieldset
{
	width: 50px;
	border: 1px solid #dcdcdc;
	border-radius: 10px !important;
	padding: 20px;
}

div.membersDatails, 
div.membersEmail, 
div.membersOptions
{
	border-bottom: 1px solid #efefef;
	margin: 10px;
	padding-bottom: 10px;
	width: 540px;
}

input[type="button"] {
	margin-right: 10px; 
	float: right;
	color: #444444;
	text-shadow: 0px 1px 1px #ffffff;
	border-bottom: 2px solid #d2d2d2;
	background-color: #d2d2d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
	background: -moz-linear-gradient(top #beeae9, #a8cfce);	
	background: -o-linear-gradient(top #beeae9, #a8cfce);
	background: -ms-linear-gradient(top #beeae9, #a8cfce);
}

input[type="button"]:hover
{
	margin-right: 10px; 
	float: right;
	border-top: 2px solid #d2d2d2;
	color: #333333;
	text-shadow: 0px 1px 1px #ffffff;
	background-color: #a0dbc4;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
	background: -moz-linear-gradient(top #a8cfce #beeae9);	
	background: -o-linear-gradient(top #a8cfce, #beeae9);
	background: -ms-linear-gradient(top #a8cfce, #beeae9);
}

#firstNameId,
#userNameId,
#emailId,
#emailConfId
{
	color: #FF0000;
	font-size: 12px;
	text-align: right;
}